body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #f2f2f2;
}

.user_profile_info {
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.user-up-info {
    float: left;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.user-up-info img {
    float: none;
    margin-bottom: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    height: 90px;
    object-fit: cover;
}

.user-up-info h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.user-up-info h4 {
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 21px;
}

.user-up-info ul {
    float: left;
    width: 100%;
}

.user-up-info ul li {
    display: inline-block;
    margin-right: 6px;
}

.user-up-info ul li a {
    display: inline-block;
    padding: 0 12px;
    color: #fff;
    height: 35px;
    line-height: 35px;
}

.user_profile_info > a {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 0;
}
