<h3 class="bg-primary text-white p-2">{{getName()}} Kategorisi</h3>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let p of getProducts()" [class.bg-secondary]="p.isActive==false">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>